logistics-middleware/src/main/resources/wsdl/cms.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://cms-service.com/v1"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="CmsService"
                  targetNamespace="http://cms-service.com/v1">

    <wsdl:types>
        <xsd:schema targetNamespace="http://cms-service.com/v1">
            <xsd:element name="createOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerId" type="xsd:string"/>
                        <xsd:element name="orderId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="createOrderRequest">
        <wsdl:part element="tns:createOrderRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createOrderResponse">
        <wsdl:part element="tns:createOrderResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="OrderService">
        <wsdl:operation name="createOrder">
            <wsdl:input message="tns:createOrderRequest" name="createOrderRequest"/>
            <wsdl:output message="tns:createOrderResponse" name="createOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createOrder">
            <soap:operation soapAction="urn:cms-service:v1:createOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OrderService">
        <wsdl:port binding="tns:OrderServiceSoapBinding" name="OrderServicePort">
            <soap:address location="http://cms-service:8080/services/OrderService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
